* {
    box-sizing: border-box;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; 
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@media only screen and (max-width:500px) {
    .prev, .next, .text{
        font-size: 11px;
    }
    .dot {
        height: 10px;
        width: 10px;
    }
}

/* https://www.indeed.com/viewjob?jk=7047016a44a0c617&tk=1hnc7nc7b36fp003&from=jaf&alid=634205d6b7c0a141a959ac11&xpse=SoDL67I3EsYsNSSU7x0LbzkdCdPP&utm_campaign=job_alerts&utm_medium=email&utm_source=jobseeker_emails&rgtk=1hnc7nc7b36fp003&xkcb=SoAn67M3EsHu5W4u0x0JbzkdCdPP */
/* https://jobs.netflix.com/jobs/317565716 */
/* how to get your eyes to produce more tears */
/* Taco Casserole */
/* https://www.sutterhealth.org/health/nutrition/breaking-your-caffeine-habit */
/* B complex vitamins */
